<h2>Simulador de Vagas - Dashboard</h2>
<ul>
	<li><%= link_to 'Cadastrar Cursos', informacao_index_path %></li>
	<li><%= link_to 'Cadastrar Disciplinas', disciplinas_path %></li>
	<li><%= link_to 'Cadastrar Alunos', alunos_path %></li>
	<li><%= link_to 'Simulador', simulador_path %></li>
</ul>