<h2>Simulador de Vagas - Dashboard</h2>
<ul>
	<li><%= link_to 'Cursos', informacao_index_path %></li>
	<li><%= link_to 'Disciplinas', disciplinas_path %></li>
	<li><%= link_to 'Alunos', alunos_path %></li>
</ul>